<a href="https://colab.research.google.com/github/zi-onion/ESAA/blob/main/03_08_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Pandas


*   McKinney가 월스트리트 금융 회사의 분석 전문가로 근무하던 중, 기존의 데이터 처리 도구로는 만족스럽지 않아 Pandas를 개발
* Pandas는 NumPy를 기반으로 하여, 데이터 핸들링을 더 유연하고 편리하게 수행
* Pandas는 Python에서 가장 인기 있는 데이터 처리 라이브러리로, 대부분의 데이터셋이 2차원 형태로 구성되어 있기 때문에 유용하며 다양한 기능을 제공
* 내부 데이터뿐만 아니라 CSV 등의 파일을 쉽게 DataFrame으로 변경해 데이터의 가공/분석에 편리

### 판다스 시작 - 파일을 DataFrame으로 로딩, 기본 API

In [ ]:
import pandas as pd


* 판다스는 다양한 포맷으로 된 파일을 DataFrame으로 로딩할 수 있는 편리한 API를 제공  ex)read_csv(),read_table(),read_fwf() 등
#### - read_csv(): CSV(칼럼을 ;로 구분한 파일 포맷) 파일 포맷 변환을 위한 API
* pd.read_csv( )는 호출시 파일명 인자로 들어온 파일을
로딩해 DataFrame 객체로 반환.
* 파일의 맨 처음 행을 칼럼 명으로 인지 후 칼럼으로 변환함.
* 맨 왼쪽의 데이터 값이 행 순으로 적힌 0,1,2,3... 은 칼럼 명도 표시되지 않는 판다스의 Index 객체값임.
* DataFrame.head()는 DataFrame의 맨 앞에 있는 N개의 로우를 반환


#### - read_table(): read_csv()와 유사하나 tab으로 칼럼을 구분.
#### - read_fwf(): Fixed Width,즉 고정 길이 기반의 칼럼 포맷을 DataFrame으로 로딩하기 위한 API. Filepath 에 로드하려는 데이터 파일의 경로를 포함한 파일명을 입력.

In [ ]:
titanic_df = pd.read_csv('/Users/jhb/Desktop/titanic.csv')
titanic_df.head(3)

In [ ]:
print('DataFrame의 크기: ', titanic_df.shape)

shape: DataFrame의 행과 열 크기를 튜플 형태로 반환

In [ ]:
titanic_df.info()

칼럼의 타입, Null 데이터 개수, 데이터 분포도 등 메타 데이터도 조회 가능
1. info(): 총 데이터 건수와 데이터 타입, Null 건수를 알 수 있음

In [ ]:
titanic_df.describe()

2. dscribe(): 칼럼별 숫자형 데이터 값의 n-percentile분포도, 평균값, 최댓값, 최솟값을 알 수 있음.(숫자형 데이터)
* - count: Not Null인 데이터 건수
* - mean: 전체 데이터의 평균값
* - std: 표준편차
* - min: 최솟값
* - max: 최댓값
* - 25%: 25percentile 값
* - 50%: 50percentile값
* - 75%: 75percentile값

* Survived: 0과 1로 이뤄진 숫자형 카테고리 칼럼
* Pclass: 1, 2, 3으로 이뤄진 숫자형 카테고리 칼럼

In [ ]:
titanic_pclass = titanic_df['Pclass']
value_counts = titanic_pclass.value_counts()
print(value_counts)

#### Series
: Index와 단 하나의 칼럼으로 구성된 데이터 세트

- DataFrame의[] 연산자 내부에 칼럼명을 입력하면 Series 형태로 특정 칼럼 데이터 세트가 반환
- value_counts(): 그 Series 객체에 value_counts()를 호출하면 해당 칼럼값 의 유형과 건수 확인 가능.(series객체에서만 정의됨.) -> 반환하는 데이터도 series객체
- 인덱스는 단순히 순차 값과 같은 의미없는 식별자만 할당하는 것이 아니라 고유성이 보장된다면 의미있는 데이터 값 할당

In [ ]:
titanic_pclass.head()

맨왼쪽에 DataFrame의 인덱스와 동일한 인덱스인 0부터 시작하는 순차값이 존재.

### DataFrame과 리스트, 딕셔너리, 넘파이ndarray 상호변환
Dataframe은 파이썬의 리스트, 딕셔너리 그리고 넘파이ndarray등 다양한 데이터로부터 생성되며, 그들로 변환가능함.

1.  넘파이ndarray,리스트,딕셔너리를 DataFrame으로 변환하기

In [ ]:
import numpy as np

# 1차원 데이터 변환
col_name1=['col1']
list1 = [1, 2, 3]
array1 = np.array(list1)
print('array1 shape:', array1.shape )

# 리스트를 이용해 Dataframe 생성.
df_list1 =pd.DataFrame(list1, columns=col_name1)
print('1차원 리스트로 만든 Dataframe:\n',df_list1)

# 넘파이 ndarray를 이용해 Dataframe 생성.
df_array1 = pd.DataFrame (array1, columns=col_name1)
print('1차원 ndarray로 만든 Dataframe:\n', df_array1)


#2차원 데이터 변환

# 3개의 칼럼명이 필요함.
col_name2 = ['co11', 'co12', 'co13']

# 2행×3열 형태의 리스트와 ndarray생성한 뒤 이를 Dataframe으로 변환
list2 = [[1, 2, 3],
         [1, 12, 13]]
array2 = np.array(list2)
print('array2 shape:', array2.shape )
df_list2 = pd.DataFrame(list2, columns=col_name2)
print('2차원 리스트로 만든 Dataframe:\n', df_list2)
df_array2 = pd.DataFrame(array2, columns=col_name2)
print('2차원 ndarray로 만든 Dataframe:\n', df_array2)


#딕셔너리를 DataFrame으로 변환
#Key는 문자열 칼럼명으로 매핑, Value는 리스트형(또는ndarray)칼럼 데이터로 매핑
dict ={'col1':[1, 11], 'col2':[2, 22], 'col3':[3, 33]}
df_dict = pd.DataFrame(dict)
print('딕셔너리로 만든 Dataframe:\n', df_dict)

2. Dataframe을 넘파이 ndarray, 리스트, 딕셔너리로 변환하기

In [ ]:
# DataFrame을 ndarray로 변환
array3 = df_dict.values
print('df_dict.values 타입: ', type(array3), 'df_dict.values shape:', array3.shape)
print(array3)

# DataFrame을 리스트로 변환
list3 =df_dict. values.tolist()
print('df_dict.values. tolist() 타입: ', type(list3))
print(list3)

# DataFrame을 딕셔너리로 변환
dict3 = df_dict.to_dict('list')
print('In df dict. ot dict() 타입:', type(dict3))
print (dict3)

### DataFrame의 칼럼 데이터 세트 생성과 수정

In [ ]:
# Tilanic DataFrame의 새로운 칼럼 Age_0을 추가하고 일괄적으로0 값을 할당
titanic_df['Age_0']= 0
titanic_df.head (3)

# 기존 칼럼 Series의 데이터를 이용해 새로운 칼럼 Series 생성
titanic_df['Age_by_10'] =titanic_df['Age']*10
titanic_df['Family_No'] = titanic_df['SibSp'] + titanic_df['Parch']+1
titanic_df.head(3)

# 'Age_by10' 칼럼 값을 일괄적으로 기존값+100으로 업데이트
titanic_df['Age by_10'] = titanic_df['Age_by_10'] +10
titanic_df.head (3)

### DataFrame 데이터 삭제
- drop( )메서드를 이용
DataFrame.drop(labels-None, axis-0, index-None, columns-None, level-None, inplace False, errors="raise')

- 중요한 파라미터
  - labels: 원하는 칼럼 명 입력(인덱스로 간주)
  - axis: 드롭 방향 지정, axis=0: 행, axis=1: 열
  - inplace: 원본 DataFrame의 데이터를 삭제를 결정 (inplace=False이면 데이터 삭제 x, inplace=True이면 삭제)

In [ ]:
titanic_drop_df = titanic_df.drop('Age_0', axis=1)
titanic_drop_df.head(3)

titanic_df.head(3) #원 데이터에서는 삭제된 값이 존재 -> inplace==False가 디폴트이기 때문

In [ ]:
drop_result = titanic_df.drop(['Age_0', 'Age_by_10,' 'Family_No'], axis=1, inplace=True)
print('inplace=True로 drop후 반환된 값:', drop_result)
titanic_df.head(3) # 원데이터에서도 삭제됨.

In [ ]:
#axis=0으로 설정해 index0,1,2(맨 앞 3개 데이터) 로우를 삭제
pd.set_option('display.width', 1000)
pd. set_option('display .max_colwidth', 15)
print('#### before axis 0 drop ####')
titanic_df.head(3)

titanic_df.drop([0, 1, 2], axis=0, inplace=True)
print('#### after axis 0 drop ####')
print(titanic_df.head(3))

### Index 객체
DataFrame, Series의 레코드를 고유하게 식별하는 객체

- Index 객체는 식별성 데이터를 1차원array로 가지며 슬라이싱 및 단일 값 반환이 가능하나, 변경은 불가하다.
- Index는 연산에서 제외되며 식별에만 사용된다.

- reset_index( ) : DataFrame 및 Series에 수행하면 새롭게 인덱스를 연속 숫자형으로 할당함.
  - 새 인덱스 할당 후 기존 인덱스는 index라는 새로운 칼럼명으로 추가함.(drop=False)
  - 기존 인덱스가 연속된 int 숫자형이 아닐 경우 주로 사용.- Series에 reset_index( )를 적용하면 기존 인덱스가 칼럼으로 추가 돼 칼럼이 2개가 되므로 DataFrame으로 반환. (drop=True로 설정 시 기존 인덱스를 칼럼으로 저장 X -> series 유지)

In [ ]:
# 원본 파일 다시 로딩
titanic_df = pd.read_csv('titanic_train.csv')
# Index 객체추출
indexes = titanic_df.index
print(indexes)
# Index객체를 실제 값arrray로 변환
print('Index객체array값:1n', indexes.values)

In [ ]:
# 단일값 반환 및 슬라이싱도 가능
print(type(indexes.values))
print(indexes.values.shape)
print(indexes[:5].values)
print(indexes.values[:5])
print(indexes[6])

In [ ]:
indexes [0] = 5 # 객체 값 변경 불가능

In [ ]:
# Index는 오직 식별용으로만 사용됨
series_fair = titanic_df['Fare']
print('Fair Series max 값:', series_fair.max())
print('Fair Series sum 값:', series_fair.sum())
print('sum() Fair Series:', sum(series_fair))
print('Fair Series + 3:\n', (series_fair + 3).head(3))

In [ ]:
#기존 인덱스는 index라는 새로운 칼럼명으로 추가
titanic_reset_df =titanic_df.reset_index(inplace=False)
titanic_reset_df.head(3)

In [ ]:
#reset_index()
print('### before reset_index ###')
value_counts = titanic_df['Pclass'].value_counts()
print(value_counts)
print('value_counts 객체 변수 타입: ' , type(value_counts))
new_value_counts = value_counts.reset_index(inplace=False)
print('### After reset_index ###')
print(new_value_counts)
print('new_value_counts 객체 변수 타입:' ,type(new_value_counts))

### 데이터셀렉션 및 필터링
1. DataFrame의 []연산자